/* Entire Document */
html{
    background-color: #121212;
    background-image: url('images/background-ill.svg');
    background-position: center;
}

/* Centre-Aligning all the text */
body {
    text-align: center;    
    font-family: 'Montserrat', sans-serif !important; 
}

/* Styling the Main Title */
h1 {
    color: white;
}
.Title {
 margin-bottom: 1em;
 margin-top: 3em;
}

/* Button Styling */
button {
    padding: 24px 25px 25px 30px;
    width: 50%;
    font-size: 125%;
    font-family: Montserrat, sans-serif;
    font-weight: 450;
    border-radius: 0px;
    
    /* Color Designs */
    color: white;
    background: #202020;
    border: 2px solid #202020;
    cursor: pointer;
}

/* Styling to change the look of the button when the cursor's on it */
button:hover{
    background-color: #fafafa;
    color:#202020;
    transition: 0.25s;
}

/* Club Sign-Ups Button (Custom) Styling */
.ClubSignUp:hover {
    background: radial-gradient(circle, rgba(250,136,52,1) 33%, rgba(240,67,123,1) 79%, rgba(21,21,21,1) 100%);
    color: #151515;
    transition: 0.5s;
}

/* Custom Button Stylings */

/* .Website {
    color: white;
    background: #202020;
    border: 2px solid #202020;
    cursor: pointer;
}
.Website:hover{
    background-color: #fafafa;
    color:#202020;
    transition: 0.25s;
} */


/* YouTube Channel Button */

/* .YouTube {
    color: white;
    background: linear-gradient(130deg, rgba(255,138,138,1) 0%, rgba(255,55,64,1) 35%, rgba(255,0,0,1) 100%);
} */

/* @hwtechclub Button */
/* .Instagram {
    color: white;
    background: rgba(228,64,95,1) 100%;
} */

/* ReactJS Competition Button */
/* .ReactJS {
    background: #61DAFB;
} */
